// Variables
@import 'variables';

// Import fonticons
@import 'fonticons';

// Default editor styles. DO NOT TWEAK THESE
@import 'codemirror';

// Theme to be used
// To create a  new theme follow the same schema
// as documented in the paper scss file.
@import 'paper';


.kramdown-box{
  font-family: "Menlo", monospace;
  font-weight: normal;
  font-size: 14px;
  border: 1px $boxBorderColor solid;
}

.kramdown-toolbar {
  margin: 0;
  position: relative;
  background: $toolbarBgColor;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  z-index: 1110;
  &, & > li{
    padding: 0;
    list-style: none;
  }
  li{
    margin: 0;
    display: inline-block;
    a{
      display: block;
      padding: 12px;
      position: relative;
      outline: none;
      border: none;
      text-decoration: none !important;
      text-align: left;
      opacity: 0.9;
      cursor: pointer;
      color: $toolbarBtnColor;
      &:before{
        line-height: 14px;
      }
      &:hover{
        background: $toolbarBtnColorHover;
        color: $toolbarBtnTextColorHover;
      }
    }
    &.active > a{
        background: $toolbarBtnColorHover;
        color: $toolbarBtnTextColorHover;
    }
    &.kramdown-has-dropdown{
      .kramdown-toolbar-dropdown {
        display: none;
      }
      &.active{
        .kramdown-toolbar-dropdown{
          display: block;
        }
      }
    }
  }
  .kramdown-toolbar-dropdown{
    margin: 0;
    padding: 0;
    min-width: 180px;
    position: absolute;
    background: $toolbarBgColor;
    overflow: hidden;
    z-index: 1008;

    -webkit-box-shadow: 0px 1px 6px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 1px 6px rgba(0,0,0,0.25);
    box-shadow: 0px 1px 6px rgba(0,0,0,0.25);
    li{
      display: block;
      a{
        display: block;
        text-decoration: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.07);
      }
    }
    &, & a{
      &:before{
        content: '' !important;
      }
    }
  }
}

.kramdown-tooltip{
  position: absolute;
  span{
    margin: 0;
    padding: 4px 8px;
    position: relative;
    display: none;
    background: #333;
    font-size: 12px;
    color: #ffffff;
    z-index: 1006;
  }
}

.kramdown-statusbar {
  background: $statusBarBgColor;
  padding: 12px 0;
  text-align: right;
  -webkit-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px -1px rgba(0, 0, 0, 0.25);
  span {
    padding: 0 18px;
    font-size: 12px;
    &.stats {
      &:before {
        font-size: 14px;
      }
      &:after {
        content: 'Statistics';
      }
      float: left;
    }
    &.lines {
      &:before {
        content: "Lines: ";
      }
    }
    &.words {
      &:before {
        content: "Words: ";
      }
    }
    &.chars {
      &:before {
        content: "Chars: ";
      }
    }
    &.cursor {
      &:before {
        content: "Cursor: ";
      }
    }
  }
}
